/*****************************************************************************
	player css
*****************************************************************************/
.player {
	margin: 0 auto; 
}

/*****************************************************************************
	Util
*****************************************************************************/
.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}
